In [1]:
from scipy.stats import f_oneway

In [2]:
performance1 = [89,89,88,78,79]
performance2 = [93,92,94,98,98]
performance3 = [89,88,89,93,90]
performance4 = [81,78,81,92,82]

In [3]:
#Conduct the one way ANOVA
f_oneway(performance1,performance2,performance3,performance4)

F_onewayResult(statistic=8.445374244537422, pvalue=0.0013618232145063691)

In [4]:
#enter exam scores for each group

In [5]:
group1 = [85,86,88,75,78,94,98,79,71,80]
group2 = [91,92,93,85,87,84,82,88,95,96]
group3 = [79,78,88,94,92,85,83,85,]

In [10]:
#2 way anova
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame({'Fertilizer':np.repeat(["A","B"],15),'Watering':np.repeat(['daily','weekly'],15),'height':[14,16,15,15,16,13,12,11,14,15,16,16,17,18,14,13,14,14,14,15,16,16,17,18,14,13,14,14,14,15]})

In [16]:
df.head()

  Fertilizer Watering  height
0          A    daily      14
1          A    daily      16
2          A    daily      15
3          A    daily      15
4          A    daily      16

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [15]:
model = ols("height ~ C(Fertilizer)+C(Watering)+ C(Fertilizer) : C(Watering)", data = df).fit()
result = sm.stats.anova_lm(model, type=2)
print(result)

                             df     sum_sq   mean_sq         F    PR(>F)
C(Fertilizer)               1.0   0.033333  0.033333  0.012069  0.913305
C(Watering)                 1.0   1.027463  1.027463  0.372012  0.546828
C(Fertilizer):C(Watering)   1.0   0.577010  0.577010  0.208918  0.651144
Residual                   28.0  77.333333  2.761905       NaN       NaN

The p-values for water and fertilizer turn out to be more than 0.05 which implies that the means of both the factors do not possess a statistically significant effect on plant height. The p-value for the interaction effect (0.904053) is greater than 0.05 which depicts that there is no significant interaction between fertilizer frequency and watering frequency.

In [18]:
pip install rdatasets

Defaulting to user installation because normal site-packages is not writeable
Collecting rdatasets
  Downloading rdatasets-0.2.10-py3-none-any.whl.metadata (44 kB)
     ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
     -------------------------- ----------- 30.7/44.8 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 44.8/44.8 kB 734.6 kB/s eta 0:00:00
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from rdatasets) (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->rdatasets) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->rdatasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->rdatasets) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->rdatasets) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->rdatasets) (1.16.0)
Downloading rdatasets-0.2.10-py3-none-any.whl (50.1 MB)
   ---------------------------------------- 0.0/50.1 MB ? eta -:--:--
   ---------------------------------------- 0.1/50.1 MB 3.6 MB/s eta 0:00:14
   ---------------------------------------- 0.3/50.1 MB 3.8 MB/s eta 0:00:14
    --------------------------------------- 0.7/50.1 MB 5.9 MB/s eta 0:00:09
   - -------------------------------------- 1.4/50.1 MB 8.6 MB/s eta 0:00:06
   - -------------------------------------- 1.9/50.1 MB 9.4 MB/s eta 0:00:06
   -- ------------------------------------- 2.6/50.1 MB 10.9 MB/s eta 0:00:05
   -- ------------------------------------- 3.4/50.1 MB 12.1 MB/s eta 0:00:04
   --- ------------------------------------ 4.1/50.1 MB 12.6 MB/s eta 0:00:04
   ---- ----------------------------------- 5.1/50.1 MB 14.1 MB/s eta 0:00:04
   ---- ----------------------------------- 5.8/50.1 MB 14.8 MB/s eta 0:00:03
   ----- ---------------------------------- 6.7/50.1 MB 15.3 MB/s eta 0:00:03
   ------ --------------------------------- 7.5/50.1 MB 15.6 MB/s eta 0:00:03
   ------ --------------------------------- 8.4/50.1 MB 16.4 MB/s eta 0:00:03
   ------- -------------------------------- 9.6/50.1 MB 17.0 MB/s eta 0:00:03
   -------- ------------------------------- 10.5/50.1 MB 19.9 MB/s eta 0:00:02
   --------- ------------------------------ 11.6/50.1 MB 21.1 MB/s eta 0:00:02
   --------- ------------------------------ 12.5/50.1 MB 21.8 MB/s eta 0:00:02
   ---------- ----------------------------- 13.3/50.1 MB 22.6 MB/s eta 0:00:02
   ----------- ---------------------------- 14.0/50.1 MB 21.9 MB/s eta 0:00:02
   ----------- ---------------------------- 14.4/50.1 MB 22.6 MB/s eta 0:00:02
   ----------- ---------------------------- 14.7/50.1 MB 20.5 MB/s eta 0:00:02
   ------------ --------------------------- 15.5/50.1 MB 19.9 MB/s eta 0:00:02
   ------------- -------------------------- 16.5/50.1 MB 19.9 MB/s eta 0:00:02
   -------------- ------------------------- 17.7/50.1 MB 21.1 MB/s eta 0:00:02
   --------------- ------------------------ 19.0/50.1 MB 21.9 MB/s eta 0:00:02
   --------------- ------------------------ 20.0/50.1 MB 21.1 MB/s eta 0:00:02
   ---------------- ----------------------- 21.1/50.1 MB 21.9 MB/s eta 0:00:02
   ----------------- ---------------------- 22.3/50.1 MB 21.9 MB/s eta 0:00:02
   ------------------ --------------------- 23.5/50.1 MB 21.8 MB/s eta 0:00:02
   ------------------- -------------------- 24.8/50.1 MB 26.2 MB/s eta 0:00:01
   -------------------- ------------------- 25.8/50.1 MB 27.3 MB/s eta 0:00:01
   --------------------- ------------------ 27.1/50.1 MB 29.7 MB/s eta 0:00:01
   ---------------------- ----------------- 27.6/50.1 MB 29.7 MB/s eta 0:00:01
   ---------------------- ----------------- 28.7/50.1 MB 27.3 MB/s eta 0:00:01
   ----------------------- ---------------- 29.8/50.1 MB 27.3 MB/s eta 0:00:01
   ------------------------ --------------- 31.1/50.1 MB 28.4 MB/s eta 0:00:01
   ------------------------- -------------- 32.2/50.1 MB 28.4 MB/s eta 0:00:01
   -------------------------- ------------- 33.3/50.1 MB 27.3 MB/s eta 0:00:01
   --------------------------- ------------ 33.9/50.1 MB 26.2 MB/s eta 0:00:01
   --------------------------- ------------ 33.9/50.1 MB 26.2 MB/s eta 0:00:01
   ---------------------------- ----------- 36.1/50.1 MB 26.2 MB/s eta 0:00:01
   ---------------------------- ----------- 36.1/50.1 MB 26.2 MB/s eta 0:00:01
   ------------------------------ --------- 38.3/50.1 MB 27.3 MB/s eta 0:00:01
   ------------------------------- -------- 39.3/50.1 MB 27.3 MB/s eta 0:00:01
   -------------------------------- ------- 40.2/50.1 MB 26.2 MB/s eta 0:00:01
   --------------------------------- ------ 41.3/50.1 MB 26.2 MB/s eta 0:00:01
   --------------------------------- ------ 42.3/50.1 MB 25.2 MB/s eta 0:00:01
   ---------------------------------- ----- 43.1/50.1 MB 25.2 MB/s eta 0:00:01
   ----------------------------------- ---- 44.1/50.1 MB 31.2 MB/s eta 0:00:01
   ------------------------------------ --- 45.1/50.1 MB 28.5 MB/s eta 0:00:01
   ------------------------------------ --- 46.2/50.1 MB 25.2 MB/s eta 0:00:01
   ------------------------------------- -- 47.3/50.1 MB 27.3 MB/s eta 0:00:01
   -------------------------------------- - 48.0/50.1 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  48.9/50.1 MB 25.1 MB/s eta 0:00:01
   ---------------------------------------  49.8/50.1 MB 24.3 MB/s eta 0:00:01
   ---------------------------------------  50.1/50.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------- 50.1/50.1 MB 21.1 MB/s eta 0:00:00
Installing collected packages: rdatasets
Successfully installed rdatasets-0.2.10
Note: you may need to restart the kernel to use updated packages.

In [19]:
#age group or alcohol consumption. Does the interaction b/w these 2 factors the number of cancer cases?
from rdatasets import data
data=data('esoph')
data.head()

   rownames  agegp      alcgp     tobgp  ncases  ncontrols
0         1  25-34  0-39g/day  0-9g/day       0         40
1         2  25-34  0-39g/day     10-19       0         10
2         3  25-34  0-39g/day     20-29       0          6
3         4  25-34  0-39g/day       30+       0          5
4         5  25-34      40-79  0-9g/day       0         27

In [22]:
model = ols("ncases ~ C(alcgp)+C(agegp)+C(alcgp):C(agegp)", data = data).fit()

In [23]:
sm.stats.anova_lm(model, type=2)

                     df      sum_sq    mean_sq          F        PR(>F)
C(alcgp)            3.0   46.870695  15.623565   4.201295  8.916156e-03
C(agegp)            5.0  267.026108  53.405222  14.361068  2.021935e-09
C(alcgp):C(agegp)  15.0  107.557743   7.170516   1.928206  3.632710e-02
Residual           64.0  238.000000   3.718750        NaN           NaN

The p value for the interaction of age group and alcohol consumption is less than alpha, so we can reject the null hypothesis that age group and alcohol consumption do not interact with regards to the number of esophegal cancer cases. That is, we have reason to believe that their interaction does not affect the outcome.