In [2]:
from pandas import DataFrame

cart = {"Product" : ['Mobile','AC','Mobile','Sofa','Laptop'],
      "Price" : [20000,20000,22000,19000,45000],
       "Year" : [2014,2015,2016,2017,2018]
       }

df = DataFrame(cart, columns=["Product","Price","Year"])
print("Original dataFrame:\n", df)

Original dataFrame:
   Product  Price  Year
0  Mobile  20000  2014
1      AC  20000  2015
2  Mobile  22000  2016
3    Sofa  19000  2017
4  Laptop  45000  2018

In [7]:
df.describe(include="all")

       Product         Price         Year
count        5      5.000000     5.000000
unique       4           NaN          NaN
top     Mobile           NaN          NaN
freq         2           NaN          NaN
mean       NaN  25200.000000  2016.000000
std        NaN  11122.050171     1.581139
min        NaN  19000.000000  2014.000000
25%        NaN  20000.000000  2015.000000
50%        NaN  20000.000000  2016.000000
75%        NaN  22000.000000  2017.000000
max        NaN  45000.000000  2018.000000

In [4]:
stats= df['Price'].describe()

In [5]:
print(stats)

count        5.000000
mean     25200.000000
std      11122.050171
min      19000.000000
25%      20000.000000
50%      20000.000000
75%      22000.000000
max      45000.000000
Name: Price, dtype: float64

In [8]:
print(df['Price'].count())

5

In [9]:
print(df['Price'].mean())

25200.0

In [10]:
print(df['Price'].max())

45000

In [11]:
print(df['Price'].min())

19000

In [12]:
print(df['Price'].std())

11122.050170719425